<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="adminfavicon.png">
   <!-- JS, Popper.js, and jQuery -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Potta+One&family=Righteous&display=swap" rel="stylesheet">
   
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<style>
    body{
        margin:0px;
        padding:0px;
        background-color: #faf8f0;
    }
    .admin,.list{
        height:630px;
        
    }
    .insideadmin,.insidelist{
        border-radius:10px;
        background-color: #ffffff;
        height:600px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .shared{
        border-radius:10px;
        background-color: #ffffff;
       
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .forms{
        width:80%;
        margin:auto;
    }

    @media only screen and (max-width:600px){
       
    }

    .content{
        border-radius:10px;
        overflow-y: scroll;
        overflow-x: hidden;
        height:430px;
        background-color: #ffffff;
    }
    .listed{
        border-radius:10px;
        overflow-y: scroll;
        overflow-x: hidden;
        height:534px;
        background-color: #ffffff;
    }
    thead{
        font-weight:bold;
        text-transform: capitalize;
    }
   tbody{
    font-weight: 600;
    color: #000000;
   }
*::-webkit-scrollbar {
  width:4px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}
*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 20px;
  border: 1px solid #000000;
}
.pop{
  
  width:100%;
  height:80%;
    margin: auto;

  display:none;
  z-index:1; 
  top:40px;
position:absolute;
transition:3s;
transform:scale(0.9);
color:#000000;

}
.insidepop {
    background-color: #878787;

     height:100%;
     box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
border-radius:20px;
}
.insidepop .form-control{
  width:60%;
}
.btns {
  width: 150px;
  background-color:  #043b9b;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
 display:block;
 top:3px;
}

.btns:hover {
  background-color:#03317f ;
}

</style>
<body>
    <div class="container-fluid border">
        
  <div class="row" style="height:81px ;background-color: #4481eb;">
    <div class="col-6 ">

      <h4 style="color:#f1eded;font-weight:400;font-size:1.5rem">HELLO, <span id="name" style="color:#ffffff;font-size:3rem;font-weight:bold;font-family: 'Righteous', cursive;">Shankar </span></h4>
     
     </div>
    
    <div class="col-6 mt-2">
          <span style="float:right;">
            <button type="submit"  class="btns solid" onclick="logout()">logout</button>
          </span>
  </div>

      
      <div class="row pop " id="pop">
        <div class="col-12 " id="">
             
                  <div class="insidepop">
                       <button id="signin" style="float:right;" class="btn btn-danger btn-sm "  onclick="close1()"><i class="fa fa-close fa-2x"></i></button>
                  </br>

                     <center><form>
                       <input type="text" class="form-control" id="emailId" placeholder="Search using Full Email"></br>
                       <button type="button" class="btn btn-info btn-lg btn-block"  onclick="submits()">Search</button>
                       <h1 id="inside"></h1>

                     </form></center>
                     <table class="table text-center" >
                      <thead class="table-dark"><tr>
                          
                          <td>ID</td>
                          <td>Name</td>
                          <td>Email</td>
                          <td>Confirm</td>
                      </tr>
                     </thead>
                      <tbody id="NamesList">
                            
                      </tbody>
                   
                  
                </table>
                 </div>
                

        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-6 admin">
            <div class="insideadmin">
                <h3 class="text-center">Upload Files</h3>
               
                    <form enctype="multipart/form-data" class="forms">
                      <input type="file" name="mypic" id="myfile" required class="form-control"><br>
                      <button type="button"  id="uploadBtn" class="btn btn-primary btn-sm">Upload</button>
                    </form>
                    <hr>
                <div class="content">
                   
                   
                        <table class="table text-center" >
                            <thead class="table-dark"><tr>
                              <td>Sl</td>
                              <td>Name</td>
                              <td>share</td>
                            </tr>
                           </thead>
                            <tbody id="filesList">
                                  
                            </tbody>
                         
                        
                      </table>


                </div>
            </div>
            
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 list ">
            <div class="insidelist">
              

                  <h3 class="text-center">Shared to me</h3><hr>
                     <div class="listed">
                        <table class="table text-center" >
                            <thead class="table-dark"><tr>
                                <td>sl</td>
                                <td>From</td>
                                <td>File Name</td>
                                <td>date</td>
                                <td>Download</td>
                            </tr>
                           </thead>
                            <tbody id="sharedToMe">
                        
                            </tbody>
                         
                        
                      </table>
                     </div>
                
            </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-5" >
           <div class="shared">
            <h3 class="text-center">Shared by me</h3><hr>
            <div class="sfiles">
               <table class="table text-center" >
                   <thead class="table-dark"><tr>
                       <td>sl</td>
                       <td>To</td>
                       <td>File Name</td>
                       <td>date</td>
                       <td>Access</td>
                   </tr>
                  </thead>
                   <tbody id="sharedByMe">
                   
                   </tbody>
                
               
             </table>
           </div>
        </div>
      </div>
    </div>

    <script>
      document.getElementById('uploadBtn').addEventListener('click', function() {
       
        const file = document.getElementById('myfile').files[0];
        /*const formData = new FormData();
        formData.append('avatar', files[0]);
        console.log(formData)
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload');
        xhr.send(formData);*/

          let filename = file.name
          let extArr = filename.split('.');
          var fileWithoutExt = extArr[0];
          var ext = extArr[1];
          var resultWithoutBase;
          
          var reader = new FileReader();
          var result = '';
          let resultBase64  = '';
          let substrings;
          
        reader.onloadend = () => {
              result = reader.result;
              console.log(result)
              substrings = result.split(',');
              
              resultWithoutBase = substrings[0];
              resultBase64 = substrings[1];
            

              fetch('/upload', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                      user: {
                          name: filename,
                          base64: resultBase64,
                          beforeBase64:resultWithoutBase
                      }
                  })
              })
              .then(function(response) {
                return response.json();
            })
            .then(function(data){
              if(data.response === "Uploaded"){
                alert("Successfully Uploaded");
                location.reload();
                
              } else {
                alert("UnSuccessful");
              }
            })
          };
        reader.readAsDataURL(file);
    });

    function logout(){
      fetch('/logout',{
        method:'GET',
      })
      .then(function(response) {
        return response.json();
    })
    .then(function(data){
      if(data.response === "LoggedOut"){
        window.location = "first.html"
      } else {
        alert("UnSuccessful");
      }
    })
    }

    window.onload = function(){
       fetch('/getUserName',{
        method:'GET'
       }).then(function(response) {
        return response.json();
    }).then(function(data){
      console.log(data)
      document.getElementById("name").innerHTML = data[0].name
    })

        fetch('/retrieve',{
          method:'GET'
        })
        .then(function(response) {
          
          return response.json();
      })
      .then(function(data){
        console.log(data.length)
        
        if(data.response === "LoggedOut"){
          window.location = "first.html"
        } else if(data.length > 0) {
        var table = document.getElementById('filesList')
        var rows='';
        var count=0;
        for(let i=0;i<data.length;i++){
          count++;
          rows+='<tr><td>'+count+'</td><td>'+data[i].name+'</td><td><button type="button" onclick="share(this.id)" id="'+data[i].id+'" class="btn btn-primary btn-sm"><i class="material-icons">&#xe80d;</i></button></td></tr>'
        }
        table.innerHTML = rows
        console.log(data)
      } else {
        document.getElementById('filesList').innerHTML = "No Records Found"
      }
      })


      fetch('/getFilesSharedByMe',{
        method:'GET'
      }).then(function(response) {
              
        return response.json();
    })
    .then(function(data){
      var table = document.getElementById('sharedByMe')
      var rows='';
      var count=0;
      let name;
      let filename;
      var wholeData = data
      for(let i=0;i<wholeData.length;i++){
        
        
       fetch('/getNameAndFileName',{
          method:'POST',
          headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            user: {
                nameid: data[i].cid,
                fileid: data[i].fid,
                
            }
        })

        }).then(function(response) {
              
          return(response.json());
      }).then(function(data){
        console.log(data)
        console.log(wholeData)
        name = data[0].name;
        filename = data[1].filename
        count++;
        let dateTime = new Date(wholeData[i].Date);
        rows+='<tr><td>'+count+'</td><td>'+name+'</td><td>'+filename+'</td><td>'+dateTime.getDate() +'-'+parseInt(dateTime.getMonth()+1)+'-'+dateTime.getFullYear()+' '+dateTime.getHours()+':'+dateTime.getMinutes()+':'+dateTime.getSeconds()+'</td><td>'+wholeData[i].access+'</td></tr>' 
        table.innerHTML = rows
      })
      
      }
      
      console.log(data)
    })


    fetch('/getFilesSharedToMe',{
      method:'GET'
    }).then(function(response) {
            
      return response.json();
  })
  .then(function(data){
    var table = document.getElementById('sharedToMe')
    var rows='';
    var count=0;
    let name;
    let filename;
    var wholeData = data
    for(let i=0;i<wholeData.length;i++){
      
      
     fetch('/getNameAndFileName',{
        method:'POST',
        headers: {
          'Content-Type': 'application/json'
      },
      body: JSON.stringify({
          user: {
              nameid: data[i].aid,
              fileid: data[i].fid,
              
          }
      })

      }).then(function(response) {
            
        return(response.json());
    }).then(function(data){
      console.log(data)
      console.log(wholeData)
      name = data[0].name;
      filename = data[1].filename
      count++;
      let dateTime = new Date(wholeData[i].Date);
      rows+='<tr><td>'+count+'</td><td>'+name+'</td><td>'+filename+'</td><td>'+dateTime.getDate() +'-'+parseInt(dateTime.getMonth()+1)+'-'+dateTime.getFullYear()+' '+dateTime.getHours()+':'+dateTime.getMinutes()+':'+dateTime.getSeconds()+'</td><td><button type="button" onclick="download(this.id)" id="'+wholeData[i].fid+'" class="btn btn-primary btn-sm"><i class="material-icons">&#xe2c4;</i></button></td></tr>' 
      table.innerHTML = rows
    })
    
    }
    
    console.log(data)
  })
    
    }
var fsid;
    function share(id){
      document.getElementById('pop').style.display="block";
      document.getElementById('inside').innerHTML=id;
      fsid=id;
      }
      function close1(){
    document.getElementById("pop").style.display="none";
    document.getElementById("NamesList").deleteRow(0);
    document.getElementById("name").value=" ";

    }


    //search name to share
function submits(){
  var email=document.getElementById("emailId").value;
  
  fetch('/retrieve1', {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json'
      },
      body: JSON.stringify({
          user: {
              emails: email,
              fid:fsid

          }
      })
    })
    .then(function(response) {
      return response.json();
  })
  .then(function(data){
    if(data.response === "done"){
      console.log("g4g");

      fetch('/retrieve2',{
          method:'GET'
        })
        .then(function(response) {
          return response.json();
      })
      .then(function(data){
        var table = document.getElementById('NamesList')
        var rows='';
        var count=0;
        for(let i=0;i<data.length;i++){
          count++;
          rows+='<tr><td>'+data[i].id+'</td><td>'+data[i].name+'</td><td>'+data[i].email+'</td><td><button type="button" class="btn btn-info btn-lg" id="'+data[i].id+'" onclick="sharing(this.id)">Access</button></td></tr>'
        }
        table.innerHTML = rows
      console.log(data);
      })

    } else {
      alert(data.response)
    }
  })
}
function sharing(ids){
  fetch('/retrieve3', {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json'
      },
      body: JSON.stringify({
          user: {
              cid:ids
          }
      })
    })
    .then(function(response) {
      return response.json();
  })
  .then(function(data){
    if(data.response === "Given Access"){
    alert("Success")
    location.reload();
    } 
  })
   

}

function download(id){
  console.log(id)

  fetch('/decrypt', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({
        user: {
            fid:id
        }
    })
    
  })
  .then(function(response) {
    return response.json();
})
.then(function(data) {
    link = data.link;
    console.log(link);
    fileNameReceived = data.name;
    console.log(fileNameReceived)
   //  let lastIndexOfDot = fileNameReceived.lastIndexOf('.');
   // let getExtArr = fileNameReceived.split('.');
   // let ext = fileNameReceived.slice(lastIndexOfDot);
    var linkSource = link;
    var downloadLink = document.createElement('a');
   // var newFileName = "Test101"
    var fileName = fileNameReceived
    downloadLink.href = linkSource
    downloadLink.download = fileName
    console.log(downloadLink)
    downloadLink.click()
    
})
  }



    </script>
</body>
</html>